{% extends "layouts/base.html" %}

{% block title %} Estadísticas {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Tablas de Desempleo - El Salvador</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary" style="text-align: center;">
                  <tr>
                    <th>Año</th>
                    <th>Total (%)</th>
                    <th>Educación Avanzada (%)</th>
                    <th>Educación Intermedia (%)</th>
                    <th>Educación Básica (%)</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  <tr>
                      <td>2018</td>
                      <td>4.0</td>
                      <td>6.6</td>
                      <td>6.0</td>
                      <td>3.8</td>
                  </tr>
                  <tr>
                      <td>2019</td>
                      <td>4.1</td>
                      <td>5.0</td>
                      <td>6.2</td>
                      <td>3.7</td>
                  </tr>
                  <tr>
                      <td>2020</td>
                      <td>5.0</td>
                      <td>6.4</td>
                      <td>8.2</td>
                      <td>3.4</td>
                  </tr>
                  <tr>
                      <td>2021</td>
                      <td>4.3</td>
                      <td>5.7</td>
                      <td>8.1</td>
                      <td>4.0</td>
                  </tr>
                  <tr>
                      <td>2022</td>
                      <td>3.0</td>
                      <td>6.1</td>
                      <td>6.1</td>
                      <td>3.6</td>
                  </tr>
                  <tr>
                      <td>2023</td>
                      <td>2.7</td>
                      <td>5.2</td>
                      <td>4.0</td>
                      <td>2.6</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Proporción de jóvenes sin educación, empleo ni capacitación (%)</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary" style="text-align: center;">
                  <tr>
                    <th>Año</th>
                    <th>(%)</th>
                </thead>
                <tbody style="text-align: center;">
                  <tr>
                      <td>2018</td>
                      <td>27.2</td>
                  </tr>
                  <tr>
                      <td>2019</td>
                      <td>27.9</td>
                  </tr>
                  <tr>
                      <td>2020</td>
                      <td>25.2</td>
                  </tr>
                  <tr>
                      <td>2021</td>
                      <td>26.0</td>
                  </tr>
                  <tr>
                      <td>2022</td>
                      <td>26.2</td>
                  </tr>
                  <tr>
                      <td>2023</td>
                      <td>23.5</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}